.custom-select {
  cursor: pointer;
  position: relative;
  width: 150px;
  background: rgba(145, 212, 227, 1);
  border: 1px solid rgba(27, 91, 106, 1);
  border-radius: 5px;
  &.clicked{
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }
  &._input{
    width: 250px;
  }
  .firstOption {
    padding: 0 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .option {
      font-size: 20px;
      font-weight: bolder;
      &._input{
        border: none;
        outline: none;
        width: 100%;
        background: none;
        color: $color-font-base;
        font-family: $font-base;
        font-size: 15px;
        font-weight: normal;
        &::placeholder{
          font-size: 12px;
          font-weight: lighter;
        }
      }
    }
    button {
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      svg {
        width: 16px;
        height: auto;
      }
    }
  }
  .optionsList {
    display: block;
    overflow-y: auto;
    position: absolute;
    top:30px;
    left: -1px;
    z-index: 9999;
    width: 150px;
    max-height: 200px;
    background: rgba(145, 212, 227, 1);
    border: 1px solid rgba(27, 91, 106, 1);
    border-top: none;
    border-radius: 0 0 5px 5px;
    &.disabled {
      display: none;
    }
    &.biggerVersion{
      width: 250px;
    }
  }
  ul{
    backdrop-filter: brightness(0.95);
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    &:hover{
      cursor: pointer;
    background: rgba(47, 162, 188, 0.81);
    }
    &.dots{
      pointer-events: none;
      div{
        transform: scale(0.7);
        width: 6px;
        height: 6px;
        margin-right: 5px;
        border-radius: 50%;
        background: rgba(148, 148, 148, 1);
        &:first-of-type{
          animation: dotsAnimation 2s infinite 4.5s;
        }
        &:nth-child(2){
          animation: dotsAnimation 2s infinite 0.5s;
        }
        &:last-child{
          animation: dotsAnimation 2s infinite 2.5s;
        }

      }
    }
    &.noResults{
      font-size: 15px;
    }
  }

}
.errorMessage{
  padding: 5px 0;
  font-size: 12px;
  color: red;

}

@keyframes dotsAnimation {

  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.7);
  }
}